# Managed by Ansible - HAProxy TCP PROXY protocol passthrough

global
  maxconn {{ edge_gateway_haproxy_maxconn }}
  log /dev/log local0

defaults
  mode tcp
  log global
  option dontlognull
  timeout connect {{ edge_gateway_haproxy_timeout_connect }}
  timeout client  {{ edge_gateway_haproxy_timeout_client }}
  timeout server  {{ edge_gateway_haproxy_timeout_server }}

frontend fe_http
  bind *:80
  default_backend be_http

backend be_http
  server traefik_http {{ edge_gateway_backend_ip }}:{{ edge_gateway_proxy_backend_http_port }} send-proxy-v2

frontend fe_https
  bind *:443
  default_backend be_https

backend be_https
  server traefik_https {{ edge_gateway_backend_ip }}:{{ edge_gateway_proxy_backend_https_port }} send-proxy-v2
