[Interface]
Address = {{ edge_gateway_wg_local }}/32
ListenPort = {{ edge_gateway_wireguard_port }}
PrivateKey = {{ wg_private_key }}
# Enable IP forwarding (handled also by sysctl task)
PostUp = sysctl -w net.ipv4.ip_forward=1
PostDown = sysctl -w net.ipv4.ip_forward=0

[Peer]
# Home peer
PublicKey = {{ edge_gateway_wg_peer_public_key }}
AllowedIPs = {{ edge_gateway_cluster_cidr }}, {{ edge_gateway_wg_peer }}/32
PersistentKeepalive = 25
Endpoint = {{ edge_gateway_wg_peer_endpoint }}
